/* footer {
  margin-top: 1rem;
  background: #e00000;
  background: linear-gradient(90deg, #e00000 0%, maroon 50%, rgb(54, 0, 0) 100%);
}

footer div {
  color: white;
}

footer div a {
  color: white;
  text-decoration: underline;
  font-weight: bold;
} */
